<app-menu></app-menu>
<section class="heading">
  <span class="page-title font-weight-bold font-italic">[{{ title }}]</span>
  <a *ngIf="isAdmin" routerLink="/product-create">
    <img width="20" height="20" src="assets/add-icon.png" title="Add New" />
  </a>
</section>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th><button [ngClass]='colClasses' (click)="sortBy('vendor.name')">Vendor</button></th>
       <th><button [ngClass]="colClasses" (click)="sortBy('partNumber')">Part Number</button></th>
      <th><button [ngClass]="colClasses" (click)="sortBy('name')">Product Name</button></th>
      <th><button [ngClass]="colClasses" (click)="sortBy('price')">Price</button></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | sort: sortCriteria:sortOrder">
      <td>{{ product.vendor.name }}</td>
      <td>{{ product.partNumber }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency }}</td>
      <td>
        <a routerLink="/product-detail/{{ product.id }}">
          <img
            width="20"
            height="20"
            src="assets/details.png"
            title="Product Details"
          />
        </a>
        <span *ngIf="isAdmin"> | 
        <a routerLink="/product-edit/{{ product.id }}">
          <img
            width="20"
            height="20"
            src="assets/pencil-icon.png"
            title="Product Edit"
          />
        </a>
      </span>
      </td>
    </tr>
  </tbody>
</table>
